.triangle {
    background: url('../assets/images/bg-triangle.svg');
    background-position: center 85%;
    width: 400px ;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 50px;
}

.hand {
    position: absolute;
    top: 110px;
    background-color: white;
    padding: 40px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 20px hsl(230, 89%, 62%)
}

.rock {
    position: absolute;
    bottom: 0;
    left: 120px;
    background-color: white;
    padding: 40px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 20px hsl(349, 71%, 52%)
}

.scissor {
    position: absolute;
    top: 110px;
    right: 0px;
    background-color: white;
    padding: 40px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 20px hsl(39, 89%, 49%)
}

.scissor img {
    border-radius: 50%;
    border-top: rgb(188, 186, 186) 3px solid;
    padding: 10px;
}

.hand img {
    border-radius: 50%;
    border-top: rgb(188, 186, 186) 3px solid;
    padding: 10px;
}

.rock img {
    border-radius: 50%;
    border-top: rgb(188, 186, 186) 3px solid;
    padding: 10px;
}

@media (max-width: 480px) {
    .triangle {
        scale: 0.9;
        height: 40vh;
        
    }

    .hand, .rock, .scissor {
        padding: 15px;
    }

    .hand {
        top:80px
    }

    .scissor {
        top:80px
    }

    .rock {
        left:140px
    }
}
