.result {
    height: 100%;
    width: 250px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.result button {
    color: red;
    background-color: white;
    width: 150px;
}

.result h3 {
    font-size: 25pt;
}